body {
    margin:0;
    background-color:#fff;
    font-family:Helvetica, Arial, Freesans, clean, sans-serif;
}
/* text-decoration */
a, a:link, .head a, a.tagbutton, a.button {
    text-decoration:none;
}
/* Colors */
.head, .feet, a.button {
    background-color:#f1f1f1;
}
a, .head a:hover, .search input, a.tagbutton, a.tagbutton:hover, a.button:hover {
    color:#4b86a0;
}
p, ul {
    color:#222;
}
h1, h2, h3 {
    color:#000;
}
.head a, a.button {
    color:#333;
}
/* border-radius */
h1, a.tagbutton, a.button {
    border-radius:10px;
}
/* Styles of elements */
h1, h2, h3 {
    text-align:left;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
h2, h3 {
    padding-bottom:5px;
    border-bottom:solid 1px #bbb;
}
h2, h3, pre, li {
    margin:0 40px;
}
p, li {
    text-align:justify;
    line-height:1.6;
}
p {
    padding:0 40px;
    text-indent:1cm;
}
p a:hover {
    border-bottom:solid 1px #4b86a0;
}
li {
    padding-bottom:10px;
}
h1 {
    margin:10px;
    padding:0 10px;
    border:solid 1px #d8e6ec;
    background-color:#e6f1f6;
    font-size:24px;
}
h2 {
    font-size:18px;
}
h3 {
    font-size:16px;
}
.head, a.tagbutton, a.button, .feet {
    font-size:12px;
}
/* Menu style */
.head {
    margin:0;
    height:25px;
    border-bottom:solid 1px #ebebeb;
    font-weight:700;
}
.head a {
    display:inline-block;
    margin:5px 20px 0 0;
}
.head a#now {
    border-bottom:2px solid;
}
.head a.rss {
    position:absolute;
    right:10px;
    margin-top:2px;
    width:22px;
    height:22px;
    background:url(../ico/rss-dim.png);
}
.head a.rss:hover {
    background:url(../ico/rss-light.png);
}
.head div {
    position:absolute;
    left:50%;
    display:inline-block;
    margin-left:-170px;
    width:340px;
    text-align:center;
}
/* Search form */
.search {
    position:absolute;
    left:50%;
    margin:15px 0 0 -150px;
}
.search input {
    width:300px;
    border:solid 1px #ebebeb;
}
/* Alignment of container elements */
.container {
    margin:40px auto 0;
    width:1040px;
}
.container div {
    display:inline-block;
    vertical-align:top;
}
.container .post {
    width:700px;
    font-size:14px;
}
/* Style tags */
.tag {
    width:160px;
}
.right a {
    float:right;
}
a.tagbutton {
    display:block;
    margin-top:10px;
    width:120px;
    border:solid 1px #d8e6ec;
    background-color:#eef7fb;
    text-align:center;
}
a.tagbutton:hover {
    background-color:#e6f1f6;
}
.feet {
    position:relative;
    bottom:0;
    display:block;
    padding-top:25px;
    width:100%;
    height:39px;
    border-top:1px solid #ebebeb;
    text-align:center;
}
a.button {
    position:relative;
    display:block;
    margin: 0 35px 20px 0;
    width:150px;
    border:solid 1px #ebebeb;
    text-align:center;
}
